<div class="login-card">
    <div class="password-wrapper">
        <input type="password" class="password-input" [(ngModel)]="clearPassword" placeholder="Password"
            (keyup.enter)="attemptLogin()" />
        <div class="item-icon-wrapper" (click)="attemptLogin()">
            <span class="material-icons-outlined item-icon" title="Settings">&#xe5c8;</span>
        </div>
    </div>
    <div *ngIf="error" class="error">
        {{ errorMessage }}
    </div>
    <div class="hint">
        Hint: {{ pwHint }}
    </div>
</div>