<div *ngIf="screenSize === 'big'" class="big-wrapper" (pointermove)="resize($event)" (pointerup)="endResize($event)" [ngClass]="{'resize-hover': this.currentResizing !== null}">
    <div class="column-wrapper first-column">
        <div class="field-wrapper spaces">
            <app-spaces></app-spaces>
        </div>
    </div>
    <div class="column-wrapper data-column">
        <div class="field-wrapper folder elevated">
            folder
        </div>
        <div class="resizer" (pointerdown)="startResize($event)"></div>
    </div>
    <div class="column-wrapper data-column">
        <div class="field-wrapper files elevated">
            files
        </div>
        <div class="resizer" (pointerdown)="startResize($event)"></div>
    </div>
    <div class="column-wrapper last-column">
        <div class="field-wrapper editor elevated">
            editor
        </div>
    </div>
</div>

<div *ngIf="screenSize === 'medium'" class="medium-wrapper" (pointermove)="resize($event)" (pointerup)="endResize($event)" [ngClass]="{'resize-hover': this.currentResizing !== null}">
    <div class="left-column">
        <div class="header-wrapper" *ngIf="currentMainView !== 'spaces'">
            <div class="header-field elevated">
                header
            </div>
        </div>
        <div class="content-wrapper">
            <div *ngIf="currentMainView === 'spaces'" class="spaces content-field">
                <app-spaces></app-spaces>
            </div>
            <div *ngIf="currentMainView === 'folder'" class="folder content-field elevated">
                folder
            </div>
            <div *ngIf="currentMainView === 'files'" class="files content-field elevated">
                files
            </div>
        </div> 
        <div class="resizer" (pointerdown)="startResize($event)"></div>
    </div>
    <div class="editor-wrapper">
        <div class="editor field-wrapper elevated">
            editor
        </div>
    </div>
</div>

<div *ngIf="screenSize === 'small'" class="small-wrapper">
    <div class="small-header">
        Header
    </div>
    <div class="small-content">
        <div *ngIf="currentMainView === 'spaces'" class="spaces small-field-wrapper">
            <app-spaces></app-spaces>
        </div>
        <div *ngIf="currentMainView === 'folder'" class="folder small-field-wrapper">
            folder
        </div>
        <div *ngIf="currentMainView === 'files'" class="files small-field-wrapper">
            files
        </div>
        <div *ngIf="currentMainView === 'editor'" class="editor small-field-wrapper">
            editor
        </div>
    </div>
</div>