.spaces-wrapper
    height: 100%
    display: flex
    flex-direction: column

    .application-icon
        width: 100%
        display: flex
        justify-content: center
        align-items: center
        height: var(--space-bubble-diameter)
        font-size: 2rem

    .spaces-list
        flex-grow: 1
        height: 0px
        overflow: scroll
        -ms-overflow-style: none
        scrollbar-width: none

        &::-webkit-scrollbar 
            display: none

        .space-wrapper
            padding-top: var(--padding)
            display: flex
            flex-direction: row

            &:hover
                    cursor: pointer

            .space-icon
                display: flex
                align-items: center
                justify-content: center
                height: var(--space-bubble-diameter)
                width: var(--space-bubble-diameter)
                border-radius: var(--space-bubble-radius)
                background-color: var(--spaces-text-color)
                color: var(--spaces-background-color)
                font-size: 2rem   

            .space-name
                display: flex
                flex-grow: 1
                align-items: center
                width: 0px

                .space-name-content
                    white-space: nowrap
                    overflow: hidden
                    text-overflow: ellipsis
                    padding: var(--padding)

        .add-space-wrapper
            padding-top: var(--padding)

            &:hover
                cursor: pointer

            .add-space
                display: flex
                align-items: center
                justify-content: center
                height: var(--space-bubble-diameter)
                color: var(--spaces-text-color)
                font-size: 2rem
                width: 100%
    
    .bottom
        color: var(--spaces-text-color)

        .item-wrapper
            padding-top: var(--padding)
            display: flex
            flex-direction: row
            
            &:hover
                cursor: pointer

            .item-icon
                height: var(--space-bubble-diameter)
                width: var(--space-bubble-diameter)
                font-size: var(--space-bubble-diameter)

            .item-name
                display: flex
                flex-grow: 1
                align-items: center
                width: 0px

                .item-name-content
                    white-space: nowrap
                    overflow: hidden
                    text-overflow: ellipsis
                    padding: var(--padding)