<div class="overview-wrapper">
    <div class="top-wrapper">
        <div class="header-title">
            <div class="title-text">
                General
            </div>
        </div>
        <div class="header-item">
            All notes
        </div>
        <div class="header-item">
            Starred
        </div>
        <div class="header-item">
            Trash
        </div>
    </div>
    <div class="folder-wrapper">
        <div class="title">
            <div class="title-text">
                Folder
            </div>
        </div>
        <div>
            Root
            <div>
                child
            </div>
        </div>
    </div>
</div>
