.overview-wrapper
    height: 100%
    display: flex
    flex-direction: column

    .top-wrapper
        width: 100%
        padding-top: var(--internal-padding)

        .header-title
            font-weight: 500
            width: 100%
            padding: var(--internal-padding)
            padding-top: 0px

        .header-item
            width: calc(100% - var(--doubble-internal-padding))
            padding-left: var(--internal-padding)
            padding-right: var(--internal-padding)

            &:hover
                cursor: pointer
                background-color: var(--folder-hover-color)
                border-radius: var(--corner-radius)

    .folder-wrapper
        flex-grow: 1
        padding-top: var(--internal-padding)

        .title
            padding: var(--internal-padding)
            padding-top: 0px
            font-weight: 500
            width: 100%

        
        