.locked-wrapper
    height: 100%
    width: 100%
    background-color: var(--background-color)
    color: var(--text-color)
    display: flex
    align-items: center
    justify-content: center

    .login-card-wrapper
        padding: var(--padding)
        min-width: 200px
        max-width: 100%

        .application-icon
            width: calc(100% - var(--doubble-padding))
            display: flex
            justify-content: center
            padding: var(--internal-padding)

            .icon-image
                height: var(--space-bubble-diameter)
                width: var(--space-bubble-diameter)

        .login-card
            padding: var(--internal-padding)
            border-radius: var(--corner-radius)
            background-color: var(--text-color)
            color: var(--background-color)

            .password-wrapper
                display: flex
                flex-direction: row

                .password-input
                    background-color: var(--text-color)
                    border: none
                    color: var(--background-color)

                    &:focus
                        outline: none

            .error
                color: rgb(246, 0, 0)
            
            .hint
                padding-top: var(--internal-padding)

                .hint-title
                    font-weight: 500
                    border-bottom: 1px solid var(--background-color)

                .hint-content
                    padding-top: var(--internal-padding)